body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1a1d;
    color: #fff;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #d62828;
}

.header-img {
    width: 30%;
    max-height: 300px;
    object-fit: cover;
}

.main-content {
    padding: 20px;
}

.info, .skills {
    margin-bottom: 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background-color: #2a2a2a;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #d62828;
}